.Update {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  margin-top: 15px;
}

.Update .top {
  padding: 0.5rem 1.5rem;
  min-height: 3.5rem;
  align-items: center;
  margin-bottom: 0;
  border-bottom: 1px solid #e3e3f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Update .top h4 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
}

.Update .top p {
  font-size: 87.5%;
  font-weight: 400;
}

.Update .center {
  padding: 1.5rem;
}

.Update .center p {
  font-size: 0.9rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 18px;
}

.dark-mode-update {
  background-color: #262932;
  /* border: 1px solid #333438; */
}

.dark-mode-update .top {
  border-bottom: 1px solid #333438;
  color: #bbb !important;
}

.dark-mode-update .center p {
  color: #bbb !important;
}
