.Level {
  width: 32.5%;
  background-color: #fff;
  border: 1px solid #e3e3f7;
  border-radius: 6px;
  margin-bottom: 1rem;
}
.Level-dark-bg {
  background-color: #262932;
  border: 1px solid #333438;
}

.Level-dark-bg h4 {
  color: #bbb !important;
}
.Level-dark-bg .center span {
  color: #2e89ff !important;
}

.Level-dark-bg p {
  color: #bbb !important;
}

.Level .top {
  border-radius: 2px 2px 0 0;
  padding: 0.5rem 1.5rem;
  display: flex;
  min-height: 3.5rem;
  align-items: center;
  border-bottom: 1px solid #e3e3f7;
}
.Level .top h4 {
  font-weight: 300;
}

.Level .center {
  padding: 1.5rem;
}

.Level .center .image {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Level .center .image img {
  height: 120px;
  margin-bottom: 10px;
}

.Level .center .image span {
  color: #0348afe0;
  text-decoration: underline;
  cursor: pointer;
}

.Level .center h4 {
  color: #1c1d22;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}
.Level .center p {
  color: #1c1d22;
  font-weight: 300;
}
