.cardbottom {
  width: 98%;
  background-color: white;
  margin: auto;
  border-radius: 6px;
  margin-top: 15px;
  padding: 1.5rem;
  border: 1px solid #e3e3f7;
}

.ProfileBottom-dark {
  background-color: #262932;
  border: 1px solid #333438;
  color: #bbb;
}

.ProfileBottom-dark .CURRENCY,
.AMOUNT,
.USD,
.COURSE,
.CONFIRMATIONS,
.DATE {
  border: 1px solid rgb(44 46 59);
}

.ProfileBottom-dark .CURRENCY p,
.AMOUNT p,
.USD p,
.COURSE p,
.CONFIRMATIONS p,
.DATE p {
  color: #bbb !important;
}
